.search-predictions-container{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    margin-top: 30px;
    background: white;
}

.search-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px .5rem;
    color: var(--color-lgr);
    cursor: pointer;
    font-size: .9rem;
}

.item-icon-container{
    display: flex;
    width: 25px;
    height: 25px;
    align-items: center;
}

.search-item-icon{
    width: 20px;
    height: 20px;
    fill: rgb(150, 160, 175);
}

.search-item:hover {
    background: rgba(110, 209, 255, 0.25);
}

.search-item:not(:last-child){
    border-bottom: 1px solid rgba(0,0,0,.15);
}