.marker-location{
    position: absolute;
    width: 1.75rem;
    height: 1.75rem;
    display: block;
}

.marker-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.marker-icon{
    width: 100%;
    height: 100%;
    transition: all 200ms ease-in-out;
    z-index: 3;
}

.marker-info{
    max-height: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
}

.marker-info-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: .75rem;
    letter-spacing: .5px;
    overflow: hidden;
    transition: all 500ms ease;
}

.marker-info-content .border{
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, .5);
    margin: 4px 0px;
}

.marker-info-content.open{
    max-height: 135px;
    transition: all 500ms ease;
}

.marker-info-content.closed{
    max-height: 0px;
    transition: all 500ms ease;
}

.marker-info .dollar{
    width: 10px;
    margin-right: 2px;
    fill: var(--color-theme-blue-lighter);
}

.marker-info span{
    font-size: 1.5rem;
    margin: 0px 2px;
    color: white;
}

.marker-hover {
    transform: scale(1.15);
    z-index: 999;
    fill: var(--color-theme-blue);
    transition: all 250ms ease;
}

.mk-red{
    fill: #E74C3C;
}

.marker-place-info{
    position: relative;
    min-width: 135px;
    bottom: 100%;
    left: 100%;
    background: var(--color-lg);position: absolute;
    display: none;
    padding: .35rem .5rem;
    margin-left: 5px;
    z-index: 999;
    transition: all 500ms ease-in;
}

.marker-place-info.none{
    display: none;
}

.marker-place-info.show{
    display: inline-block;
}

.marker-place-header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 6px;
}

.marker-place-header p{
    font-size: .85rem;
    font-weight: 500;
    letter-spacing: .5px;
    white-space: nowrap;
    transition: color 150ms linear;
}

.marker-hr{
    color: var(--color-theme-red);
}

.marker-hw{
    color: white;
}

#marker-ratings{
    margin-right: 4px;
}

.marker-remove-button{
    height: 20px;
    width: 24px;
    fill: var(--color-theme-red-lighter);
}

.marker-selected-container{
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    padding: .35rem .5rem;
    margin: 0;
    transform: translate(-50%, -50%);
    position: absolute;
    display: block;
}
.marker-selected-container:hover .marker-place-header p{
    color: var(--color-theme-red);
}
/*
.marker-selected-container:hover .marker-selected-remove{
    width: 100%;
}
*/

.marker-selected-remove{
    top: 50%;
    left: 50%;
    height: 95%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    background: var(--color-lg);
    transition: width 500ms ease;
}

.marker-user-location{
    position: relative;
    width: 1.75rem;
    height: 1.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-theme-blue);
    border-radius: 50%;
}

.marker-user-icon{
    width: 1.35rem;
    height: 1.35rem;
    margin-bottom: 2px;
}

.marker-user-info{
    position: absolute;
    display: flex;
    align-items: center; 
    justify-content: center;  
    width: 6rem;
    height: 2rem;
    vertical-align: middle;
    display: flex;
    background: var(--color-lg);
    color: white;
    letter-spacing: .5px;
    transform: translate(4rem, -2rem);
    border-radius: 5% 5% 5% 0%;
    opacity: 0;
    transition: all .15s ease-in;
}

.marker-user-info::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1rem;
    height: 1rem;
    background: var(--color-lg);
    transform: skew(0deg, -30deg);
    z-index: -2;

}

.marker-user-location:hover {
    background: var(--color-theme-blue-darker);
}

.marker-user-location:hover .marker-user-info{
    opacity: 1;
    transition: all .15s ease-in;
}

.marker-icon:hover .marker-place-info{
    opacity: 1;
    transition: opacity 150ms ease-in;
    z-index: 999;
    background: var(--color-lg);
}


.marker-selector-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 4px;
}

.marker-selector-button{
    width: 100%;
    height: 1.5rem;
    color: white;
    background: var(--color-theme-blue);
    margin-top: 4px;
}

.marker-vicinity{
    min-height:20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: white;
}

.marker-vicinity p{
    text-align: start;

}

.width-100{
    width: 100%;
}

.width-0{
    width: 0%;
}
