.results-background{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.35);
    z-index: 1001;
    visibility: visible;
    opacity: 1;
    transition: all 300ms ease;
}

.results-container{
    width: clamp(420px, 80%, 760px);
    height: auto;
    display: flex;
    flex-direction: column;
    background: var(--color-theme-blue);
    transition: height 300ms ease;
}

.randomize-button{
    display: inline-block;
    width: 150px;
    height: 50px;
    letter-spacing: 1px;
    border-radius: 15px;
    border: 3px solid white;
    background: var(--color-theme-blue);
    color: white;
}

.randomize-container{
    width: 100%;
    min-height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.randomize-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5vh;
    margin: 1px 0px;
}

.randomize-item:first-child{
    margin-top: 0px;
    margin-bottom: 1px;
}

.randomize-item:last-child{
    margin-top: 1px;
    margin-bottom: 0px;
}

.randomize-list{
    width: clamp(420px, 80%, 620px);
    border: 6px solid rgb(51, 51, 51);
}

.res-hidden{
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease;
}

.button-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.choice-header-sub{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: black;
    font-size: 18px;
}

.choice-price{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choice-price p{
    margin-left: 2px;
}

.dol-pri-container{
    display: flex;
    flex-direction: row;

}

.dollar-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.dollar-container .icon-container{
    width: 9px;
    height: 9px;
    margin-right: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.price-container{
    display: flex;
    align-items: center;
}

.fullrating{
    font-size: 15px;
    color: #c99703;
    display: inline-block;
    overflow: hidden;
    -webkit-text-stroke: 1px rgba(0,0,0,.35);
}

.fullrating::before{
    content: "★★★★★";
}

.review-star{
    display: inline-block;
    font-size: 15px;
    color: white;
}

.choice-info-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5%;
    max-height: calc(100vh - 120px);
    overflow-y: auto;
}

.choice-info-container::-webkit-scrollbar{
    width: 6px;
    opacity: 0;
}

.choice-info-container::-webkit-scrollbar-track{
    background: transparent;
}

.choice-info-container::-webkit-scrollbar-thumb{
    background: rgba(0,0,0,.25);
    border-radius: 10px;
}

.choice-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-height: 100vh;
}

.choice-font{
    color: white;
    font-family: var(--font-style-la);
}

.choice-header{
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: white;
    color: var(--color-theme-blue);
    font-size: 1.25rem;
}

.carousel-slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    height: 100%;
}

.carousel-buttons-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    z-index: 1009;
    margin-top: 1rem;
}

.carousel-button{
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid white;
    z-index: 1009;
}

.car-inactive{
    background: var(--color-theme-blue);
}

.car-active{
    background: white;
}

.choice-back{
    width: 80px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    color: white;
    border: 2px solid white;
    margin-top: 2rem;
    margin-bottom: 10px;
}

.choice-subfont{
    color: white;
    font-size: 16px;
    font-family: var(--font-style-la);
}

.choice-content .space{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.choice-info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    row-gap: 10px;
    margin-top: 10px;
}

.choice-other-info{
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.info-topic{
    min-width: 100px;
    height: 100%;
}

.amenities-container{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 10px;
}

.amenities{
    height: 30px;
    display: flex;
    white-space: nowrap;
    flex: 1 1 20%;
    margin-right: 10px;
}

.amenities > .info-icon{ 
    margin: 0px;
}

.hours-container{
    padding: 0px 10px;
}

.serves-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 10px;
}

.serveitem{
    display: flex;
}

.serveitem ~ .serveitem::before{
    content: ", ";
    margin-right: 6px;
}

.choice-reviews-container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.other-info-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    padding-left: 1rem;
}

.review-carousel{
    position: relative;
    width: 100%;
    min-height: 200px;
    overflow: hidden;
}

.rev-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

#spacer{
    width: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.review-carousel-track{
    width: 100%;
    min-height: 200px;
    display: inline-flex;
    transition: all 500ms ease;
}

.review-heading{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}



.info-row{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.info-row a:hover{
    text-decoration-line: underline;
}

.info-text{
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 1rem;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    word-wrap: break-word;}

.info-text a{
    width: 100%;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
}


.info-icon{
    width: 24px;
    height: 24px;
    margin-left: 4px;
}

.x-icon{
    width: 16px;
    height: 16px;
}

.chev{
    width: 100%;
    height: 100%;
    fill: white;
}

.review-font{
    font-size: 1rem;
}

