.list-container{
    flex: 0 1 30%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

}

.list-header{
    font-size: clamp(1.25rem, 2vw, 1.5rem);
    font-family: var(--font-style-ub);
    color: var(--color-dgr);
    margin-bottom: 1rem;
    padding: 0 1rem;
}

.list-filters-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 1rem;
}

.list-restaurants-container{
    width: 100%;
    height: 100%;
    margin-top: 1rem;
    overflow-y: scroll;
}

.list-restaurants{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.list-filter-clear{
    background: var(--color-filter-buttons-focus);
}

.list-page-container{
    width: 100%;
    height: 50px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    color: var(--font-lgr);
    border-top: 1px solid rgba(0,0,0,.05);
}

.list-page-buttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 75px;
    height: 100%;

}

.page-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
}

.place{
    width: 100%;
    font-size: 1.5rem;
    padding: 8px 8px 8px 0px;
    color: var(--color-lg);
    border-bottom: 1px solid rgba(0,0,0,.10);
    font-size: 1rem;
    cursor: pointer;
    padding: 1rem;
}

.place:hover{
    background: rgb(250, 250, 250);
}

.place-name{
    font-size: 1.25rem;
    font-family: var(--font-style-la);
    font-weight: 600;
    color: var(--color-dgr);
}

.place-rating{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
}

.place-open{
    color: green;
}

.place-closed{
    color: red;
}

.rating-section{
    width: 100%;
    display: flex;
    align-items: center;
}

.price-section{
    width: 100%;
    display: flex;
    align-items: center;
}

.rating-section > span {
    margin: 0px 8px 0px 4px;
    font-size: 1.5rem;
}

.price-section > .dollar{
    width: 10px;
    margin-right: 4px;
}

#star-icon{
    width: 20px;
    height: 20px;
}