.list-container{
    flex: 0 1 30%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    z-index: 999;
}

.list-header{
    font-size: clamp(1.25rem, 2vw, 1.5rem);
    font-family: var(--font-style-ub);
    color: var(--color-dgr);
    margin-bottom: 1rem;
    padding: 0 1rem;
}

.list-filters-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 1rem;
}

.list-restaurants-container{
    width: 100%;
    height: 100%;
    margin-top: 1rem;
    overflow-y: scroll;
}

.list-restaurants{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.list-filter-clear{
    background: var(--color-filter-buttons-focus);
}

.list-page-container{
    width: 100%;
    height: 50px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    color: var(--font-lgr);
    border-top: 1px solid rgba(0,0,0,.05);
}

.list-page-buttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 75px;
    height: 100%;

}

.page-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
}

.place{
    width: 100%;
    height: auto;
    font-size: 1.5rem;
    padding: 1rem;
    color: var(--color-lg);
    border-bottom: 1px solid rgba(0,0,0,.10);
    font-size: 1rem;
    cursor: pointer;
    
}

.place-name{
    font-size: 1.25rem;
    font-family: var(--font-style-la);
    font-weight: 600;
    color: var(--color-dgr);
}

.place-rating{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
}

.place-open{
    color: green;
}

.place-closed{
    color: red;
}



.rating-section{
    width: 100%;
    display: flex;
    align-items: center;
}

.price-section{
    width: 100%;
    display: flex;
    align-items: center;
}

.rating-section > span {
    margin: 0px 8px 0px 4px;
    font-size: 1.5rem;
}

.price-section > .dollar{
    width: 10px;
    margin-right: 4px;
}

#star-icon{
    width: 20px;
    height: 20px;
}

.btn-disabled{
    fill:rgb(186, 186, 186);
}

.place-selector-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: auto;
    transition: all 300ms ease;
}

.selector-icon-container{
    margin-top: 8px;
    width: 100%;
    height: 0px;
    visibility: hidden;
    opacity: 0;
    transition: all 300ms ease;
}

.selector-dropdown-icon{
    width: 100%;
    height: 100%;
    transition: all 300ms ease;
}

.selector-dropdown-content{
    width: 100%;
    height: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility, opacity 350ms linear;
}

.selector-button{
    width: 80%;
    height: 100%;
    background: var(--color-theme-blue);
    font-size: 1rem;
    color: white;
    overflow: hidden;
}

.bg-hover{
    background: rgb(240, 240, 240);
}

.focused{
    visibility: visible;
    opacity: 1;
    height: 28px;
    margin-top: 8px;
    transition: margin, visibility, opacity 350ms linear;
}

.rot-x{
    transform: scaleY(-1);
    transition: all 300ms ease;
}

.visible{
    opacity: 1;
    visibility: visible;
    height: 16px;
}

.place:hover .selector-icon-container{
    visibility: visible;
    opacity: 1;
    height: 16px;
    transition: all 300ms ease;
}

.place:hover{
    background: rgb(240, 240, 240);
}